md-content.view-account {
    div.rol-item {
        outline: none;
        padding: 0.7em;
        border-bottom: 1px solid #E4E4E4;
        padding-left: 0px;
        padding-right: 0px;
        > div {
            display: flex;
            align-items: center;
            padding-left: 0.5em;
            &:last-child {
                font-style: italic;
                opacity: 0.7;
            }
        }
        md-switch {
            margin: 0px;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &.edit {
        .recover {
            margin-right: 4em;
        }
    }
}
