<md-dialog aria-label="dd" class="events create dialog">
    <md-progress-linear md-mode="indeterminate" class="md-accent" ng-if="1==2">
    </md-progress-linear>

    <md-dialog-content>

        <!-- AVATAR -->
        <dialog-avatar>
            <div class="marker">
                <div class="halo">
                    <div>
                        <img ng-src="{{model.user.photo}}" />
                    </div>
                </div>
            </div>
            <div class="name">
                {{model.user.fullname}}
            </div>

            <div ng-if="!model.event.date" class="md-primary background date" layout="column" ng-if="model.data">

                <div class="day" flex="initial">
                    &nbsp;
                </div>

                <div flex layout="column" layout-align="center center" layout-fill>
                    <div class="month">
                        Cuando
                    </div>
                    <div class="day">
                        ?
                    </div>
                    <div class="year">
                        &nbsp;
                    </div>
                </div>

            </div>

            <!-- DATE PICKER -->
            <div ng-if="model.event.date" class="md-primary background date" layout="column" ng-if="model.data">

                <div class="day" flex="initial">
                    {{model.data.date | amDateFormat: 'YYYY'}}
                </div>

                <div flex layout="column" layout-align="center center" layout-fill>
                    <div class="month">
                        {{model.data.date | amDateFormat: 'dddd'}}
                    </div>
                    <div class="day">
                        {{model.data.date | amDateFormat: 'D'}}
                    </div>
                    <div class="year">
                        {{model.data.date | amDateFormat: 'MMMM'}}
                    </div>
                </div>

            </div>
        </dialog-avatar>

        <!-- WHITE BOX -->
        <dialog-content>

            <div>

                <event-header layout="row">
                    <div flex>
                        <h1 class="md-primary text placeholder">
                            <input autofocus ng-model="model.event.name" type="text" select-text-on-click class="md-primary text" placeholder="Nombre del evento" />
                            <md-icon md-svg-icon="content:create"></md-icon>
                        </h1>
                        <h2>
                            Conocimiento:
                            <gale-select items="showKnowledges()" item-text="item.name" ng-model="model.event.knowledge">
                            </gale-select>
                            <span>
                                <md-tooltip md-direction="right">
                                    Participantes actuales
                                </md-tooltip>

                                <md-icon md-svg-icon="social:group"></md-icon>
                                {{model.data.participants}}
                            </span>
                        </h2>
                    </div>
                    <div flex="25" layout="row" layout-align="center center">

                    </div>
                </event-header>
                <div layout="row">
                    <event-description flex>
                        <!-- DESCRIPTION -->
                        <p>
                            {{model.data.description}}
                        </p>

                        <!-- TAGS -->
                        <event-tags>
                            <tag ng-repeat="tag in model.data.tags">#{{tag}}</tag>
                        </event-tags>

                    </event-description>

                    <event-location flex="40">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
                    </event-location>
                </div>

            </div>

        </dialog-content>

    </md-dialog-content>

</md-dialog>
