<!-- PRIMARY BUTTON -->
<primary-fab class="md-tall">
    <md-button class="md-fab" aria-label="ap" ui-sref="app.accounts/create">
        <md-tooltip md-direction="right">
            Registrar Nuevo Usuario
        </md-tooltip>
        <md-icon md-svg-src="content:add"></md-icon>
    </md-button>
</primary-fab>
<!-- PAGE TITLE-->
<page-title>
    Listado de Usuarios
</page-title>
<md-content table-content>
    <!-- CONTENT -->
    <gale-table>
        <gale-column width="initial">
            <gale-item>
                <template>
                    <div class="thumb">
                        <img ng-src="{{item.photo | file}}" />
                    </div>
                </template>
            </gale-item>
        </gale-column>
        <gale-column property="fullname" title="Nombre Completo"></gale-column>
        <gale-column property="email" title="E-mail" width="30"></gale-column>
        <gale-column title="Inspector" width="20">
            <gale-item>
                <template>
                    <md-checkbox ng-checked="item.type.identifier == 'INSP'" aria-label="IS" class="md-warn md-align-top-left">
                    </md-checkbox>
                </template>
            </gale-item>
        </gale-column>
        <gale-column title="Fecha Creación" width="20">
            <gale-item>
                <span am-time-ago="item.createdAt"></span>
            </gale-item>
        </gale-column>
        <gale-empty-data>
            {{ 'GLOBAL.EMPTY_DATA' | localize}}
        </gale-empty-data>
    </gale-table>
</md-content>
